################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/wms_api/.vs/wms_api/FileContentIndex
